@import "_bill-container";
@import "_button";
@import "_calculator";
@import "_input";
@import "_tip-container";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}